.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    padding: 10px;
    font-size: 1em;
    border: 2px solid #333;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
}

.send-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #555;
    }
}